@font-face {
  font-family: 'Lilly';
  src: url('../fonts/Lilly-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lilly-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lilly-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Lilly-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lilly-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Expressway';
  src: url('../fonts/expressway_rg.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/RobotoCondensed-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/RobotoCondensed-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
  font-family: 'Roboto';
  background-color: #F7F3E8;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Lilly';
}
footer{
  font-family: 'Roboto';
  background-color: #D6D6D0;
  font-size: 15px; 
  position: relative;
  bottom: 0;
  padding: 10px 0 0 0;
  margin-top: -184px; /* negative value of footer height */
}
#wrapper {
  min-height: 100%;
  padding-bottom:184px;
}
@media screen and (max-width:767px){
  body, footer, header{
    font-size: 13px;
  }
  .collapse-navbar-search{
    padding-left: 10px;
  }
  .selector-search{
    width:23%;
  }
  .btn-log-nav{
    padding-top: 8px;
  }
  .container-mobile{
    padding-top: 170px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .btn-navbar-mobile{
    display: block;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #FFD76B;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .btn-navbar-not-collapse{
    display: none;
  }
  .button-group-normal{
    height: 34px;
  }
  .mobile-hidden{
    display:none;
  }
  .pull-right-mobile{
    float:left;
    text-align: left;
  }
  .col-no-padding-left{
    padding-left: 0;
  }
  .col-no-padding-top{
    padding-top: 0;
  }
  .col-no-padding-right{
    padding-right: 0;
  }
  .col-no-padding-bottom{
    padding-bottom: 0;
  }
  .col-no-padding{
    padding: 0;
  }
  .recipe-timeline-view{
    text-align: center;
    padding: 16px 0 0 0;
  }
  .recipe-timeline-edit-btn{
    text-align: center;
    padding: 11px;
  }
  .recipe-timeline-check-publish{
    padding: 5px 0;
  }
  .recipe-timeline-check-publish > .checkbox{
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
  }
  .recipe-timeline-check-publish > .checkbox > label > input{
    margin-top: 2px;
  }
  .recipe-timeline-check-publish > .checkbox > label{
    padding-top: 5px;
  }
  .text-viewer{
    line-height: 34px;
    text-align: left;
  }
  .xs-text-center{
    text-align: center;
  }
  .xs-text-right{
    text-align: right;
  }
  .xs-text-left{
    text-align: left;
  }
  .xs-text-justify{
    text-align: justify;
  }
  .list-item-step{
    margin:10px 0 10px 0;
  }
  .edit-info{
    margin:30px 0 10px 0;
  }
  .h4-mobile{
    font-size: 26px;
  }
  .category-list:nth-child(even){
    margin:10px 0 0 0;
    line-height: 48px;
    border-left: dashed 1px #FFD76B;
    border-bottom: dashed 1px #FFD76B;
    padding:10px;
    height: 68px;
  }
  .category-list-last{
    margin:10px 0 0 0;
    line-height: 48px;
    border-left: dashed 1px #FFD76B;
    border-bottom: dashed 1px #FFD76B;
    padding:10px;
    height: 68px;
  }
  .detail-list{
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
  }
  .category-menu-name{
    padding-left: 0;
  }
  /*
  css details recipe view
  */
  .details{
    padding-left: 0;
    text-align: center;
  }
  .details-user-recipe{
    padding: 3px 0;
  }
  .details-time-recipe{
   padding: 3px 0;
  }
  .details-rating{
    border-left: dashed 1px #FFD76B;
  }
  .details-img-recipe{
    max-height:96px;
    margin:auto;
  }
  .details-img-account{
    max-height:96px;
    margin:auto;
  }
   .details-recipe-home{
    padding-left: 0;
    text-align: center;
  }
  button.navbar-toggle-foodoof:hover{
    background-color: #FFD76B !important; 
  }
  button.navbar-toggle-foodoof{
    background-color: transparent !important;
  }
  button.navbar-toggle-foodoof:hover > .icon-default{
    background-color: #f5f5f5 !important; 
  }
  .navbar-toggle-foodoof{
    border-color: #FFD76B !important; 
  }
  .img-user{
    max-height: 200px;
  }
  .img-recipe{
    max-height: 200px;
  }
  .img-profile-slide-menu{
    max-height: 100px;
  }
  .item-recipe-home{
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px dashed #FFD76B;
  }
  .img-list-recipe-home{
    max-height: 82px;
  }
  .col-no-padding-left-mobile{
    padding-left: 0;
  }
  .col-no-padding-right-mobile{
    padding-right: 0;
  }
  .col-no-padding-mobile{
    padding: 0;
  }
  p.text-capitalize {
    margin:5px 0;
    text-transform: capitalize;
    font-size: 12px;
  }
  .rating-xs{
    font-size: 2em !important; 
  }
  .rating-recipe > div.rating-users{
    font-size: 13px !important;
    line-height: 22px !important;
    color: #888;
  }
  .top-recipe.card, .recently-recipe.card{
    margin: 6px 8px !important;
    border-radius: 4px !important;
    min-height: 290px !important;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1) !important;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.1) !important;
  }
  div.card  > a > img.details-img-recipe{
    width:  100% !important;
    min-height: 150px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    margin:auto !important;
  }
  .card > div.time-recipe-home{
    font-size: 16px;
  }
  .rating-recipe > div.rating-users{
    font-size: 12px;
    line-height: 37px !important;
    color: #888
  }
}
@media screen and (min-width:768px){
  .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .container-mobile{
    padding-top: 110px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    line-height: inherit;
    border: 1px solid #FFD76B;
    border-radius: 4px;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}
@media screen and (min-width:992px){
   .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    padding:0;
    border: 1px solid #FFD76B;
    border-radius: 4px;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}
@media screen and (min-width:1200px){
  .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    padding:0;
    border: 1px solid #FFD76B;
    border-radius: 4px;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .recipe-list-home{
    margin:10px 0 10px 0;
  }
  .detail-list{
    border: dashed 1px #FFD76B;
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
    padding: 12px 0;
    height: 135px;
  }

  .detail-list-img{
    padding:5px 3px 5px 3px;
    margin-right: 10px;
  }
  .icons{
    padding-top:4px;
  }
  .img-list{
    height: 77px
  }
  .img-list-usertimeline{
    height:96px;
    margin:auto;
  }
  .img-list-account{
    height:82px;
    margin:auto;
  }
  .img-category{
    padding:0;
  }
  .chevron-menu{
      line-height: inherit;
  }
  .details{
    padding:0;
  }
  .link-menubar{
    border:dashed 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
  }

  ul.link-menubar-dropdown > li > a:hover,
  ul.link-menubar-dropdown > li > a:focus {
    text-decoration: none;
    border: solid 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #428bca;
    color: #eee;
    background: #5bc0de;
  }
  .link-menubar-dropdown > li:hover,
  .link-menubar-dropdown > li:focus {
    background-color: #428bca;
  }
  .img-profile-menubar{
    height: 28px;
    width: 28px;
  }
  .div-img-profile-menubar{
    padding-top: 2px;
  }
  .img-brand-menubar{
    margin-top: 10px;
  }
  .link-menubar-dropdown{
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: -10px 0 0;
    margin-left: -10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
  }
  .link-menubar-dropdown >li > a{
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #428bca;
    white-space: nowrap;  
  }
  .hover-menubar{
    margin-top:-4px;
    padding:4px;
    text-align: center;
    color: #FFD76B;
  }
  .hover-menubar:hover{
    background: #FFD76B; 
    color: #fff;
    border-radius: 8px;
  }
  .brand-menubar{
    padding-left: 80px;
  }
  .col-menubar{
    padding-left: 0; 
    margin-left: -40px;
  }
  .search-bar-menu{
    padding:10px 0 0 45px; 
    margin-top:20px;
  }
  .button-group-normal{
    min-width:60px; 
    height:33.9915px;
  }
  .col-menu-user{
    padding:10px 10px 0 70px; 
    margin-top:20px;
  }
  .link-by-icon{
    padding: 4px;
  }
  .outer-contain{
    padding:20px 0;
  }
  .col-no-padding-left{
    padding-left: 0;
  }
  .col-no-padding-top{
    padding-top: 0;
  }
  .col-no-padding-right{
    padding-right: 0;
  }
  .col-no-padding-bottom{
    padding-bottom: 0;
  }
  .col-no-padding{
    padding: 0;
  }
  .profile-info{
    line-height: 36.667px;
  }
  .btn-add-to{
    margin-right: 30px;
  }
  .col-edit-recipe-timeline{
    margin-left:62px; 
    margin-top:10px;
  }
  .recipe-timeline-view{
    margin-left:5px;
    margin-right:-15px
  }
  .recipe-timeline-edit-btn{
    padding-left:67px;
  }
  .recipe-timeline-check-publish{
    padding-left:79px;
  }
  .list-item-step{
    margin:10px 0 10px 0;
  }
}
.button-default{
  background-color: #FFD76B;
  color: #fff;
}
.button-default:hover{
  background-color: #EBC255;
  color: #fff;
}
.icon-default{
  color:  #FFD76B !important;
}
.navbar-toggle-foodoof > .icon-default{
  background-color:  #FFD76B !important;
}
.header-title{
  margin-top:5px;
}
.page-header-title{
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 2px dashed #FFD76B;
}
.border-right{
  border:2px dashed #FFD76B; 
  border-left:0; 
  border-top:0; 
  border-bottom:0;
}
.category-recipe-list{
  height: 30px;
  line-height: 30px;
}
.ingredient-item{
  margin: 5px 0 5px 0;
}
.step-item{
  margin: 5px 0 5px 0; 
}
#add-and-remove-btn-ingredient{
  position: absolute;
  bottom: 0;
  right: 0;
}
#add-and-remove-btn-step{
  position: absolute;
  bottom: 55px;
  right: 0;
}
.pager > li > a:hover{
  color:#eee;
  background-color: #FFD76B;
}
.pager li.active > a{
  color:#eee;
  background-color: #FFD76B;
}
/*
css dropdown
*/
ul.dropdown-search > li > a:hover,
ul.dropdown-search > li > a:focus {
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #CC211F;
  background-color: #FFD76B;
}
ul.dropdown-menu > li > label, ul.dropdown-menu > li > a{
  color:#FFD76B;
}
ul.dropdown-search > li > input:checked + ul.dropdown-search > li > label{
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #CC211F;
  background-color: #FFD76B;
  color:#f5f5f5;
}
ul.dropdown-search > li > label:hover,
ul.dropdown-search > li > label:focus {
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #CC211F;
  background-color: #FFD76B;
  color:#f5f5f5;
}
ul.dropdown-search > li > a:hover,
ul.dropdown-search > li > a:focus {
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #CC211F;
  color: #eee;
  background: #FFD76B;
}
.form-control:focus{
  border-color: #FFD76B;
  border-right: dashed 1px #FFD76B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -1px 1px 4px rgba(255, 215, 107, .6), -1px -1px 4px rgba(255, 215, 107, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -1px 1px 4px rgba(255, 215, 107, .6), -1px -1px 4px rgba(255, 215, 107, .6);
}
.form-control.input-group-dropdown:focus{
  border-color: #FFD76B;
  border-right: dashed 1px #FFD76B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -1px 1px 4px rgba(255, 215, 107, .6), -1px -1px 4px rgba(255, 215, 107, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), -1px 1px 4px rgba(255, 215, 107, .6), -1px -1px 4px rgba(255, 215, 107, .6);
}
.form-control.input-group-dropdown:focus + .input-group-btn > .btn-group > button.dropdown-cat-search{
  border-color: #111;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 4px rgba(255, 215, 107, .6), 1px -1px 4px rgba(255, 215, 107, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 4px rgba(255, 215, 107, .6), 1px -1px 4px rgba(255, 215, 107, .6);
}
.input-group-btn > .btn-group > button.dropdown-cat-search:hover, .input-group-btn > .btn-group > button.dropdown-cat-search{
  border-left: dashed 1px #FFD76B;
  color: #111;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control::-moz-placeholder {
  color: #111;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #111;
}
.form-control::-webkit-input-placeholder {
  color: #111;
}

.dropdown-cat-search{
  background-color: white;
  border:solid 1px #ccc;
  color: #FFD76B;
}
.input-group-dropdown{
  border-right: dashed 1px #FFD76B;
}

.modal-backdrop {
  z-index: -1;
}
.modal-loading{
  text-align: center;
}
.modal-loading:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog-loading {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-dialog-loading > .modal-content{
  background-color: transparent;
  border:0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border-radius: 0px;
}
.panel-home > .panel-heading{
  color: #fff;
  background-color: #FFD76B;
}
.hr-list-item{
  border-bottom: 1px solid #FFD76B;
}
.panel-home-title{
  color: #fff;
  background-color: #CC211F !important;
  padding: 10px 0 9px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.category-recipe-list{
  padding:0 5px 0 5px;
  font-size:12px; 
  height:50px; 
  line-height:50px;
}
.category-list{
  margin:10px 0 0 0;
  line-height: 48px;
  border-bottom: dashed 1px #FFD76B;
  padding:10px;
  height: 68px;
}
.category-list-last{
  margin:10px 0 0 0;
  line-height: 48px;
  padding:10px;
  height: 68px;
}

.hr-dashed{
  border-bottom: dashed 2px #FFD76B;
}
a{
  color:  #111111;
}
a:hover, a:focus{
  color: #FFD76B;
}
div.list-group > a:hover{
  color: #FFD76B;
}
div.list-group > a{
  color:  #000;
}
.navbar-foodoof{
  background-color: #CC211F;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #FFD76B;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #CC211F !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.category-menu-name{
  color:  #111111;
}
.category-menu-name:hover{
  color:  #FFD76B;
}
p.text-capitalize {
  margin:5px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.details-img-recipe{
  margin:auto;
}
.details-img-account{
  height:82px;
  margin:auto;
}
.item-recipe-home{
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px dashed #FFD76B;
}
.detail-list-recipe-home{
  border: dashed 1px #FFD76B;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 87px;
}

.detail-list-img-recipe-home{
  height:87px;
  padding:5px 3px 5px 3px;
  margin-right: 10px;
}

.border-dashed-right{
  border-right: dashed 1px #FFD76B;
}
.border-dashed-left{
  border-left: dashed 1px #FFD76B;
}
.border-dashed-top{
  border-top: dashed 1px #FFD76B;
}
.border-dashed-bottom{
  border-bottom: dashed 1px #FFD76B;
}
.border-dashed{
  border: dashed 1px #FFD76B;
}
.bg-li-highlight{
  background-color: #FFD76B !important;
}
.text-foodoof{
  color:  #FFD76B !important;
}
.bg-foodoof{
  background-color: #CC211F !important;
}
.bg-sidemenu{
  background-color: rgb(178, 15, 13);
}
.border-solid-bottom{
  border-bottom: solid 1px #FFD76B;
}
.border-solid-top{
  border-top: solid 1px #FFD76B;
}
.dropdown-menu>li>input:checked~label,
.dropdown-menu>li>input:checked~label:hover,
.dropdown-menu>li>input:checked~label:focus,
.dropdown-menu>.active>label,.dropdown-menu>.active>label:hover,
.dropdown-menu>.active>label:focus{
  color:#fff;
  text-decoration:none;
  outline:0;
  background-color:#FFD76B
}

.top-recipe.card{
  margin: 6px 4px;
  border-radius: 4px;
  min-height: 265px;
  background-color: #fff;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.recently-recipe.card{
  margin: 6px 4px;
  border-radius: 4px;
  min-height: 260px;
  background-color: #fff;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.card > div > a > img.details-img-recipe{
  width:  100%;
  height: 135px;
}
ol.carousel-indicators > li.bg-li-highlight.active{
  background-color: #CC211F !important;
}

div.card  > a > img.details-img-recipe{
  width:  100%;
  height: 135px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin:auto;
}
div.card  > a > .img-recipe-author{
  height: 30px;
  width: 30px;
  display: inline-block;
}
div.card  > a.author-recipe-home:hover{
  text-decoration: none;
}
div.card  > a.author-recipe-home:hover > .recipe-author-name{
  text-decoration: underline;
}

.title-recipe-home{
  font-family: 'Lilly';
  font-size: 16px;
  border-bottom: dashed 1px #FFD76B;
  padding:20px 15px 5px;
  overflow:hidden; 
  white-space: nowrap;
}
.title-recipe-home:after, .author-recipe-home:after{
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
  background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.author-recipe-home{
  font-family: 'Roboto';
  font-size: 16px;
  text-overflow:ellipsis;overflow:hidden; 
  white-space: nowrap;
  margin:10px 0 5px 0;
}
.author-recipe-home > .recipe-author-name{
  line-height: 30px;
  margin-left: 10px
}
.rating-xs{
  font-size: 1.25em;
}
.rating-recipe > div.rating-users{
  font-size: 12px;
  line-height: 28px;
  color: #888
}
div.card > div.time-recipe-home{
  padding:5px 15px;
}
div.card > div.time-recipe-home > div > .icon-default{
  padding: 3px;
}
.carousel-control.left{
  background-image:  -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
  background-image:  -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
  background-image:  linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
}
.carousel-control.right{
  background-image:  -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
  background-image:  -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
  background-image:  linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%); !important;
}
.carousel-control{
  opacity: .3 !important;
  background: transparent;
}
.carousel-control:hover, .carousel-control:focus{
  opacity: .7 !important;
  background: transparent;
}
.carousel{
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.recipe-author-name{
  text-transform: capitalize;
}
ul.nav-pills.nav-stacked{
  list-style-type: none;
  padding: 0;
}