@media(max-width:767px){
  .collapse-navbar-search{
    padding-left: 10px;
  }
  .selector-search{
    width:23%;
  }
  .btn-log-nav{
    padding-top: 8px;
  }
  .container-mobile{
    padding-top: 170px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .category-menu-name{
    padding:15px;
  }
  .btn-navbar-mobile{
    display: block;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .btn-navbar-not-collapse{
    display: none;
  }
  .button-group-normal{
    height: 34px;
  }
  .mobile-hidden{
    display:none;
  }
  .pull-right-mobile{
    float:left;
    text-align: left;
  }
  .col-no-padding-left{
    padding-left: 0;
  }
  .col-no-padding-top{
    padding-top: 0;
  }
  .col-no-padding-right{
    padding-right: 0;
  }
  .col-no-padding-bottom{
    padding-bottom: 0;
  }
  .col-no-padding{
    padding: 0;
  }
  .recipe-timeline-view{
    text-align: center;
    padding: 10px;
  }
  .recipe-timeline-edit-btn{
    text-align: center;
    padding: 6px;
  }
  .recipe-timeline-check-publish > .checkbox{
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
  }
  .text-viewer{
    line-height: 34px;
    text-align: left;
  }
  .xs-text-center{
    text-align: center;
  }
  .xs-text-right{
    text-align: right;
  }
  .xs-text-left{
    text-align: left;
  }
  .xs-text-justify{
    text-align: justify;
  }
  .list-item-step{
    margin:10px 0 10px 0;
  }
  .edit-info{
    margin:30px 0 10px 0;
  }
  .h4-mobile{
    font-size: 26px;
  }
}
@media(min-width:768px){
  .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .container-mobile{
    padding-top: 110px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    line-height: inherit;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}
@media(min-width:992px){
   .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    padding:0;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
}
@media(min-width:1200px){
  .inline-search{
    padding:10px;
  }
  .btn-cus{
    width:90px;
  }
  .chevron-menu{
    line-height: inherit;
  }
  .panel-category{
    padding:0;
  }
  .btn-navbar-mobile{
    height:75px;
    display: none;
    padding: 10px;
    margin-left:10px;
    border:dashed 1px #eee;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .category-list{
    margin:10px 0 10px 0;
    line-height: 38px;
  }
  .recipe-list-home{
    margin:10px 0 10px 0;
  }
  .detail-list{
    border: dashed 1px #eee;
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .detail-list-img{
    height:87px;
    padding:5px 3px 5px 3px;
    margin-right: 15px;
  }
  .icons{
    padding-top:4px;
  }
  .img-list{
    height: 77px
  }
  .img-list-usertimeline{
    height:96px;
  }
  .img-category{
    padding:0;
  }
  .chevron-menu{
      line-height: inherit;
  }
  .details{
    padding:0;
  }
  .link-menubar{
    border:dashed 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
  }

  ul.link-menubar-dropdown > li > a:hover,
  ul.link-menubar-dropdown > li > a:focus {
    text-decoration: none;
    border: solid 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #428bca;
    color: #eee;
    background: #5bc0de;
  }
  .link-menubar-dropdown > li:hover,
  .link-menubar-dropdown > li:focus {
    background-color: #428bca;
  }
  .img-profile-menubar{
    height: 28px;
    width: 28px;
  }
  .div-img-profile-menubar{
    padding-top: 2px;
  }
  .img-brand-menubar{
    margin-top: 10px;
  }
  .link-menubar-dropdown{
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: -10px 0 0;
    margin-left: -10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
  }
  .link-menubar-dropdown >li > a{
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #428bca;
    white-space: nowrap;  
  }

  ul.dropdown-search > li > a:hover,
  ul.dropdown-search > li > a:focus {
    text-decoration: none;
    border: solid 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #428bca;
    color: #eee;
    background: #5bc0de;
  }
  .hover-menubar{
    margin-top:-4px;
    padding:4px;
    text-align: center;
  }
  .hover-menubar:hover{
    background: rgb(56,150,211); 
    border-radius: 8px;
  }
  .brand-menubar{
    padding-left: 80px;
  }
  .col-menubar{
    padding-left: 0; 
    margin-left: -40px;
  }
  .search-bar-menu{
    padding:10px 0 0 45px; 
    margin-top:20px;
  }
  .button-group-normal{
    min-width:60px; 
    height:33.9915px;
  }
  .col-menu-user{
    padding:10px 10px 0 70px; 
    margin-top:20px;
  }
  .link-by-icon{
    padding: 4px;
  }
  .outer-contain{
    padding:20px 0;
  }
  .col-no-padding-left{
    padding-left: 0;
  }
  .col-no-padding-top{
    padding-top: 0;
  }
  .col-no-padding-right{
    padding-right: 0;
  }
  .col-no-padding-bottom{
    padding-bottom: 0;
  }
  .col-no-padding{
    padding: 0;
  }
  .profile-info{
    line-height: 36.667px;
  }
  .btn-add-to{
    margin-right: 30px;
  }
  .col-edit-recipe-timeline{
    margin-left:62px; 
    margin-top:10px;
  }
  .recipe-timeline-view{
    margin-left:5px;
    margin-right:-15px
  }
  .recipe-timeline-edit-btn{
    padding-left:67px;
  }
  .recipe-timeline-check-publish{
    padding-left:79px;
  }
  .list-item-step{
    margin:10px 0 10px 0;
  }
}
/*.icon-favorite{
  color:pink;
}
.icon-profile{
  color:rgb(188, 209, 254);
}
.icon-recipe{
  color:rgb(134, 210, 135);
}
.icon-cooklater{
  color:rgb(254, 197, 60);
}
.icon-key{
  color:rgb(229, 106, 69);
}*/
.button-default{
  background-color: rgba(56,150,211,0.9);
  color: #eee;
}
.button-default:hover{
  background-color: rgba(56,150,211,1);
  color: #eee;
}
.icon-default{
  color:rgb(56,150,211);
}
.header-title{
  margin-top:5px;
}
.page-header-title{
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 2px solid #eee;
}
.border-right{
  border:2px dashed rgba(56,150,211,1); 
  border-left:0; 
  border-top:0; 
  border-bottom:0;
}
.category-recipe-list{
  height: 30px;
  line-height: 30px;
}
.ingredient-item{
  margin: 5px 0 5px 0;
}
.step-item{
  margin: 5px 0 5px 0; 
}
#add-and-remove-btn-ingredient{
  position: absolute;
  bottom: 0;
  right: 0;
}
#add-and-remove-btn-step{
  position: absolute;
  bottom: 55px;
  right: 0;
}
.pager > li > a:hover{
  color:#eee;
  background-color: rgb(56,150,211);
}
.pager li.active > a{
  color:#eee;
  background-color: rgb(56,150,211);
}
ul.dropdown-search > li > a:hover,
ul.dropdown-search > li > a:focus {
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #428bca;
  color: #eee;
  background: #5bc0de;
}
ul.dropdown-search > li >label:hover,
ul.dropdown-search > li >label:focus {
  text-decoration: none;
  border: solid 5px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-color: #428bca;
  color: #eee;
  background: #5bc0de;
}